tr.wxhint {
    /*http://htmlcolorcodes.com/color-picker/
    background-color: #c0cdcd;
    background-color: #e7ecf1;*/
    background-color: #d8e0e8;
    /*background-color: #dac0cd; /*gray red*/
    }
tr.wxwht {
    background-color: #fff;
    }
tr.wxheadr {
    background-color: #c0cdda;
    border:1px solid #C0CDDA; 
    }
th.wxheadr {
    background-color: #c0cdda;
    border:1px solid #C0CDDA; 
    }


table.wxdata {
    width:80%;
    border:1px #C0CDDA solid; /*#000 */
    border:1px;
    cellspacing:1px ;
    }

table.wxdata td {
     text-align: center;
     font-family:Arial, sans-serif;
     font-size:80%;
     padding:2px;
     margin:1;
     border:1px solid #C0CDDA; 
     border-left-color:#fff; border-top-color: #fff;
     empty-cells:show;
    }

div.wxdata {
    /*width:400px;*/
    width:90%;
    }

